{% extends 'ahp/base.html' %}
{% block content %}

    <div>
        Criteria:
        {% for field, value in criteria.get_fields %}
            {{ field }} : {{ value }}
        {% endfor %}
    </div>
    {% for element in elements %}
    <div>
        Elements:
            {% for field, value in element.get_fields %}
                {% if field == "image" %}
                    {{ field }} : <img src="/media/{{ value }}" alt="{{ value }}">
                {% else %}
                    {{ field }} : {{ value }}
                {% endif %}

            {% endfor %}
    </div>
    {% endfor %}

    <form action="{% url 'modify_criterias' pk=pk %}">
        <input type="submit" value="modify criteria">
    </form>
    <form action="{% url 'modify_elements' pk=pk %}">
        <input type="submit" value="modify elements">
    </form>
        <form action="{% url 'solve' pk=pk %}">
        <input type="submit" value="solve">
    </form>
{% endblock %}