{% extends 'ahp/base.html' %}
{% block content %}

    <div class="center-container">
    <div class="criteria-container">
        <h3>Criteria based on which you will be evaluating cars </h3>

        <ul class="criterias">
            {% for field, value in criteria.get_fields %}
                <li class="criterias">{{ field }} : {{ value }} </li>
            {% endfor %}
        </ul>
        <form action="{% url 'modify_criterias' pk=pk %}">
            <input type="submit" value="Modify criteria">
        </form>
    </div>
    <hr>
        <h3>Chosen cars</h3>

            {% for element in elements %}
                        <div class="attributes">
                <div class="image">
                    {% for field, value in element.get_fields %}
                        {% if field == "image" %}
                            <img src="/media/{{ value }}" alt="{{ value }}">
                        {% endif %}
                    {% endfor %}
                </div>
                <ul class="description">
                    {% for field, value in element.get_fields %}
                        {% if field != "image" %}
                            <li>{{ field }} : {{ value }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
                        </div>
            {% endfor %}


        <form action="{% url 'modify_elements' pk=pk %}">
            <input type="submit" value="Modify elements">
        </form>
    <hr>
        <form action="{% url 'solve' pk=pk %}">
            <input type="submit" class="solve" value="SOLVE">
        </form>
    </div>
{% endblock %}