{% extends 'ahp/base.html' %}
{% block content %}
    <form method="POST" action="/crit_model_details/{{ pk }}/solver/"> {% csrf_token %}
        <div class="criteria">
            <p>{{ criteria.crit1 }}</p> <input type="range" class="slider" name="01" min="-9" max="9" step="1"
                                               value="0">
            <p>{{ criteria.crit2 }}</p>
            <p>{{ criteria.crit1 }}</p> <input type="range" class="slider" name="02" min="-9" max="9" step="1"
                                               value="0">
            <p>{{ criteria.crit3 }}</p>
            <p>{{ criteria.crit1 }}</p> <input type="range" class="slider" name="03" min="-9" max="9" step="1"
                                               value="0">
            <p>{{ criteria.crit4 }}</p>
            <p>{{ criteria.crit2 }}</p> <input type="range" class="slider" name="12" min="-9" max="9" step="1"
                                               value="0">
            <p>{{ criteria.crit3 }}</p>
            <p>{{ criteria.crit2 }}</p> <input type="range" class="slider" name="13" min="-9" max="9" step="1"
                                               value="0">
            <p>{{ criteria.crit4 }}</p>
            <p>{{ criteria.crit3 }} </p><input type="range" class="slider" name="23" min="-9" max="9" step="1"
                                               value="0">
            <p>{{ criteria.crit4 }}</p>
        </div>
        <div>
            {% for element in elements %}
                {% for field, value in element.get_fields %}
                    {% if field == "image" %}
                        {{ field }} : <img src="/media/{{ value }}" alt="{{ value }}">
                    {% else %}
                        {{ field }} : {{ value }}
                    {% endif %}

                {% endfor %}
            {% endfor %}
        </div>
        <button type="submit">Save</button>
    </form>
{% endblock %}