{% extends 'ahp/base.html' %}
{% block content %}

        <h1>WELCOME</h1>
        <h2>You want to buy a car and you chose several machines that you think are best for you. Perhaps you are wondering witch one to choose if each of them has its own pros and cons.
        Our site will help you pick the best car for you taking in account only YOUR opinions. It is made possible thanks to an incredible algorithm called AHP.
        </h2>
<div class="button-container">
        <form action="{% url 'add_crit_model' %}">
            <input type="submit" value="add">
        </form>
</div>
        {% for model in models %}
            <div>
                <a href="{% url 'crit_model_details' pk=model.pk %}">{{ model.name }}</a>
            </div>
        {% endfor %}

{% endblock %}