body {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: "hero hero hero" "lpane main rpane" "bot bot bot";
    grid-row-gap: 0px;
    grid-column-gap: 0px;
}

main {
    grid-area: main;
    background-color: #272727;
    margin: 0 0 0 0;
    max-width: 100%;

}

footer {
    grid-area: bot;
    background-color: #d33847;
    margin: 0 0 0 0;
}

.lpane {
    background-color: #272727;
    margin: 0 0 0 0;
}

.rpane {
    background-color: #272727;
    margin: 0 0 0 0;
}

header {
    grid-area: hero;
    text-align: center;
    background-color: #d33847;
    margin: 0 0 0 0;
    /*display: flex;*/
    /*align-items: center;*/

}

img {
    padding: 10px;
}

* {
    color: white;
}

.criteria {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;

}

.elements {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

.center {
    grid-column-start: 2;
    grid-column-end: 3;
}

.left {
    grid-column-start: 1;
    grid-column-end: 2;
}
.right {
    grid-column-start: 3;
    grid-column-end: 4;
}